
{% paginate customer.orders by 20 %}

<div
class="customer--root customer__root"
data-section-id="{{ section.id }}"
>
<div class="customer--wrapper customer__wrapper">
  {%- comment -%}
  <h1 data-item="section-heading">
    {{ 'customer.account.page_title' | t }}
  </h1>
  {%- endcomment -%}
  {% comment%}<div class="account--breadcrumb-container">
    {% render 'breadcrumbs' %}
  </div>{% endcomment %}
  <div class="acc-30">
    <div class="tab">
      <ul>
        <!-- <li><button class="tablinks" onclick="openCity(event, 'Profile')" >Personal Information</button></li> -->
        <li><button class="tablinks manage_address" onclick="openCity(event, 'Manage')" id="defaultOpen">Profile</button></li>
        <li class="tablink_orders"><button class="tablinks order_tab" onclick="openCity(event, 'Order')">Orders</button></li>
      </ul>
    </div>
  </div>
  <div class="acc-70">
    <div class="address--info">
      <h2 class="account_heading">Personal Information</h2>
      <div class="address__info">
        <h4 data-item="block-heading" class="prsnl_info prsnl_info_head"><span><svg xmlns="http://www.w3.org/2000/svg" width="15.253" height="15.228" viewBox="0 0 15.253 15.228">
          <path id="Shape_650" data-name="Shape 650" d="M228.061,319.026a6.436,6.436,0,0,0-12.833-.682c-.026.226-.025.455-.037.682H214a7.654,7.654,0,0,1,5.089-7.221,4.348,4.348,0,0,1-1.867-3.573,4.22,4.22,0,0,1,1.3-3.154,4.4,4.4,0,1,1,5.607,6.748l.166.066a7.572,7.572,0,0,1,4.636,4.956,6.684,6.684,0,0,1,.293,1.589,1.209,1.209,0,0,0,.026.142v.446Zm-6.432-14.039a3.212,3.212,0,1,0,3.214,3.222A3.224,3.224,0,0,0,221.629,304.987Z" transform="translate(-214 -303.799)"/>
        </svg></span>{{ customer.name }}</h4>
        <p class="address--email prsnl_info" data-item="paragraph"><span><svg xmlns="http://www.w3.org/2000/svg" width="17.927" height="13.44" viewBox="0 0 17.927 13.44">
          <path id="Shape_651_copy" data-name="Shape 651 copy" d="M231.934,383.521a1.633,1.633,0,0,1-.52.962,1.591,1.591,0,0,1-1.083.368h-11.1c-1.219,0-2.438,0-3.658,0a1.449,1.449,0,0,1-1.411-.85,1.671,1.671,0,0,1-.153-.69q-.014-5.177,0-10.354a1.5,1.5,0,0,1,1.586-1.541h12.951c.6,0,1.19.01,1.785,0a1.51,1.51,0,0,1,1.579,1.268.344.344,0,0,0,.023.064Zm-16.588-11.342c.053.056.068.074.085.089q3.484,3.177,6.97,6.352a.763.763,0,0,0,1.164-.022l6.88-6.269a1.356,1.356,0,0,1,.14-.1l-.031-.051Zm9.345,6.41c-.235.212-.428.388-.624.563a1.672,1.672,0,0,1-.889.452,1.559,1.559,0,0,1-1.306-.454l-.621-.561-5.911,5.445.029.05h15.2l.027-.052Zm-9.886-5.88c-.083.279-.071,10.645,0,10.8l5.888-5.427Zm10.441,5.374,5.9,5.436c.077-.252.062-10.622-.02-10.8Z" transform="translate(-214.006 -371.411)"/>
        </svg>
      </span>{{ customer.email }}</p>
      <div class="address--view" data-item="paragraph">
        
        {% if customer.default_address != nil %}
        <p class="prsnl_info"><span><svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve">
          <g>
            <path fill="none" stroke="#000000" stroke-width="0.6" stroke-miterlimit="10" d="M15.7,4.9c-0.9-2.4-2.7-3.8-5.3-4.2
            c-0.1,0-0.3,0-0.4-0.1c-0.1,0-0.1,0-0.2,0c-0.2,0-0.3,0-0.4,0c-0.1,0-0.2,0-0.3,0c-0.1,0-0.3,0-0.4,0.1C7.3,0.9,6.1,1.4,5.1,2.3
            C4.2,3.1,3.6,4.1,3.2,5.2C2.9,6.1,2.8,7.1,3,8.1c0.2,1.1,0.7,2.2,1.3,3.1c1.5,2.2,2.9,4.4,4.4,6.6c0.1,0.1,0.1,0.2,0.2,0.3
            c0.3,0.3,0.7,0.4,1,0.2c0.2-0.1,0.3-0.3,0.4-0.4c1.5-2.2,2.9-4.4,4.4-6.6c0.4-0.7,0.8-1.4,1-2.1C16.2,7.7,16.2,6.3,15.7,4.9z"/>
            <path fill="none" stroke="#000000" stroke-width="0.6" stroke-miterlimit="10" d="M9.5,3.7C7.6,3.7,6,5.3,6,7.2
            c0,1.9,1.6,3.5,3.5,3.5c1.9,0,3.5-1.6,3.5-3.5C13,5.3,11.4,3.7,9.5,3.7z"/>
          </g>
        </svg></span>{{ customer.default_address.address1 }}
        
        {% if customer.default_address.address2 != "" %}
        {{ customer.default_address.address2 }}
        {% endif %}
        
        {{ customer.default_address.city }},
        {% if address.province_code %}
        {{ customer.default_address.province_code }},
        {% endif %}
        {{ customer.default_address.country }}
        {{ customer.default_address.zip }}</p>
        <p class="prsnl_info"><span><svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve">
          <path d="M13.9,18.4c-0.2,0-0.5-0.1-0.7-0.1c-1-0.2-1.9-0.5-2.8-1c-1.4-0.7-2.8-1.6-4-2.6C4,12.5,2.1,10,1,7C0.8,6.2,0.6,5.4,0.6,4.6
          c0-0.8,0.3-1.5,0.8-2c0.5-0.5,1-1,1.5-1.5c0.8-0.7,1.7-0.7,2.5,0c0.8,0.8,1.6,1.6,2.4,2.4c0.6,0.7,0.6,1.6,0,2.3
          C7.4,6.3,7,6.8,6.5,7.2c-0.1,0.1-0.1,0.2,0,0.3c0.5,1,1.1,1.8,1.8,2.6c0.7,0.8,1.5,1.5,2.4,2.1c0.2,0.2,0.5,0.3,0.7,0.4
          c0.1,0.1,0.2,0,0.2,0c0.4-0.4,0.8-0.8,1.2-1.2c0.3-0.3,0.6-0.5,1.1-0.6c0.6-0.1,1.1,0.1,1.5,0.5c0.8,0.7,1.5,1.5,2.3,2.2
          c0.8,0.8,0.9,1.7,0.1,2.6c-0.5,0.6-1.1,1.1-1.7,1.7c-0.4,0.4-0.9,0.6-1.5,0.6c0,0-0.1,0-0.1,0C14.4,18.4,14.1,18.4,13.9,18.4z
          M1.5,4.7c0,0.8,0.2,1.6,0.5,2.4c0.8,2.1,2.1,3.9,3.6,5.6c1.5,1.6,3.2,2.9,5.2,3.8c1,0.5,2,0.9,3.1,1c0.7,0.1,1.3,0,1.8-0.5
          c0.5-0.5,1-1,1.5-1.5c0.4-0.4,0.4-0.9,0-1.3c-0.8-0.8-1.6-1.6-2.3-2.3c-0.3-0.3-0.7-0.3-1.1,0c-0.1,0.1-0.2,0.1-0.2,0.2
          c-0.4,0.4-0.9,0.9-1.3,1.3c-0.3,0.3-0.6,0.3-0.9,0.1c-0.3-0.1-0.5-0.3-0.7-0.4c-1.1-0.7-2.1-1.6-3-2.5C6.7,9.7,6.1,8.8,5.6,7.8
          C5.4,7.3,5.4,7,5.8,6.6c0.4-0.4,0.9-0.9,1.3-1.3c0.4-0.4,0.4-0.8,0-1.2C6.6,3.5,6,3,5.4,2.4C5.2,2.2,5,1.9,4.7,1.7
          C4.4,1.4,4,1.4,3.6,1.7C3.6,1.8,3.5,1.8,3.4,1.9C3,2.3,2.6,2.7,2.2,3.1C1.7,3.6,1.5,4.1,1.5,4.7z"/>
        </svg>
      </span>{{ customer.default_address.phone }}</p>
      {% endif %}
      
      {% comment%} <div data-item="block-link">
        <a id="view_address" href="{{ routes.account_addresses_url }}">
          {{ 'customer.account.view_addresses' | t }}
        </a>
      </div>{% endcomment %}
      
    </div>
  </div>
</div>

<div id="Manage" class="tabcontent">
  <h2 class="account_heading">Saved Address</h2>
  <div class="address--container address__container">
    <div class="account_address">
      {% for address in customer.addresses %}
      <div class="address--table m_addres" id="view_address_{{ address.id }}"> 
        <div class="address--customer">
          <h4 data-item="block-heading">
            {{ address.street }}
            
            {% if address == customer.default_address %}
            <span data-item="paragraph">
              {{ 'customer.addresses.default' | t }}
            </span>
            {% endif %}
          </h4>
          
          
          
          <div class="address--view" data-item="paragraph">
            <p class="address_icon"><span><svg xmlns="http://www.w3.org/2000/svg" width="15.253" height="15.228" viewBox="0 0 15.253 15.228">
              <path id="Shape_650" data-name="Shape 650" d="M228.061,319.026a6.436,6.436,0,0,0-12.833-.682c-.026.226-.025.455-.037.682H214a7.654,7.654,0,0,1,5.089-7.221,4.348,4.348,0,0,1-1.867-3.573,4.22,4.22,0,0,1,1.3-3.154,4.4,4.4,0,1,1,5.607,6.748l.166.066a7.572,7.572,0,0,1,4.636,4.956,6.684,6.684,0,0,1,.293,1.589,1.209,1.209,0,0,0,.026.142v.446Zm-6.432-14.039a3.212,3.212,0,1,0,3.214,3.222A3.224,3.224,0,0,0,221.629,304.987Z" transform="translate(-214 -303.799)"/>
            </svg></span>{{ address.first_name }} {{ address.last_name }}</p>
            <!-- <p>{{ address.company }}</p> -->
            <p class="address_icon address__view_icon"><span><svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve">
              <g>
                <path fill="none" stroke="#000000" stroke-width="0.6" stroke-miterlimit="10" d="M15.7,4.9c-0.9-2.4-2.7-3.8-5.3-4.2
                c-0.1,0-0.3,0-0.4-0.1c-0.1,0-0.1,0-0.2,0c-0.2,0-0.3,0-0.4,0c-0.1,0-0.2,0-0.3,0c-0.1,0-0.3,0-0.4,0.1C7.3,0.9,6.1,1.4,5.1,2.3
                C4.2,3.1,3.6,4.1,3.2,5.2C2.9,6.1,2.8,7.1,3,8.1c0.2,1.1,0.7,2.2,1.3,3.1c1.5,2.2,2.9,4.4,4.4,6.6c0.1,0.1,0.1,0.2,0.2,0.3
                c0.3,0.3,0.7,0.4,1,0.2c0.2-0.1,0.3-0.3,0.4-0.4c1.5-2.2,2.9-4.4,4.4-6.6c0.4-0.7,0.8-1.4,1-2.1C16.2,7.7,16.2,6.3,15.7,4.9z"></path>
                <path fill="none" stroke="#000000" stroke-width="0.6" stroke-miterlimit="10" d="M9.5,3.7C7.6,3.7,6,5.3,6,7.2
                c0,1.9,1.6,3.5,3.5,3.5c1.9,0,3.5-1.6,3.5-3.5C13,5.3,11.4,3.7,9.5,3.7z"></path>
              </g>
            </svg></span>{{ address.street }},
            {{ address.city }}, {% if address.province_code %}{{ address.province_code }}{% endif %}
            {{ address.country }} {{ address.zip }}</p>
            <!-- <p>{{ address.phone }}</p> -->
          </div>
          <p class="address--actions address__actions">
            <span class="address--actions-edit" data-item="block-link">
              <a href="#" onclick="Shopify.CustomerAddress.toggleForm({{address.id}}); return false" >{{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id }}</a>
            </span>
            <span data-item="block-link">
              <a href="#" onclick='Shopify.CustomerAddress.destroy({{address.id}}, "Are you sure you wish to delete this address?"); return false' >{{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}</a>
            </span>
          </p>
        </div>
      </div>
      <div class="address--edit mm_address" id="edit_address_{{ address.id }}" style="display:none;">
        {% form 'customer_address', address %}
        <table class="address--customer-table address_edit_table">
          <tr>
            <td>
              <label data-item="accent-text" for="address_first_name_{{ address.id }}">
                {{ 'customer.addresses.first_name' | t }}
              </label>
            </td>
            <td>
              <input
              class="address_form"
              type="text"
              id="address_first_name_{{ address.id }}"
              name="address[first_name]"
              value="{{ form.first_name }}"
              size="40"
              />
            </td>
          </tr>
          <tr>
            <td>
              <label data-item="accent-text" for="address_last_name_{{ address.id }}">
                {{ 'customer.addresses.last_name' | t }}
              </label>
            </td>
            <td>
              <input
              class="address_form"
              type="text"
              id="address_last_name_{{ address.id }}"
              name="address[last_name]"
              value="{{ form.last_name }}"
              size="40"
              />
            </td>
          </tr>
          <!-- <tr>
            <td>
              <label data-item="accent-text" for="address_company_{{ address.id }}">
                {{ 'customer.addresses.company' | t }}
              </label>
            </td>
            <td>
              <input
              class="address_form"
              type="text"
              id="address_company_{{ address.id }}"
              name="address[company]"
              value="{{ form.company }}"
              size="40"
              />
            </td>
          </tr> -->
          <tr>
            <td>
              <label data-item="accent-text" for="address_address1_{{ address.id }}">
                {{ 'customer.addresses.address1' | t }}
              </label>
            </td>
            <td>
              <input
              class="address_form"
              type="text"
              id="address_address1_{{ address.id }}"
              name="address[address1]"
              value="{{ form.address1 }}"
              size="40"
              />
            </td>
          </tr>
          <tr>
            <td>
              <label data-item="accent-text" for="address_address2_{{ address.id }}">
                {{ 'customer.addresses.address2' | t }}
              </label>
            </td>
            <td>
              <input
              class="address_form"
              type="text"
              id="address_address2_{{ address.id }}"
              name="address[address2]"
              value="{{ form.address2 }}"
              size="40"
              />
            </td>
          </tr>
          <tr>
            <td>
              <label data-item="accent-text" for="address_city_{{ address.id }}">
                {{ 'customer.addresses.city' | t }}
              </label>
            </td>
            <td>
              <input
              class="address_form"
              type="text"
              id="address_city_{{ address.id }}"
              name="address[city]"
              value="{{ form.city }}"
              size="40"
              />
            </td>
          </tr>
          <tr>
            <td>
              <label data-item="accent-text" for="address_country_{{ address.id }}">
                {{ 'customer.addresses.country' | t }}
              </label>
            </td>
            <td>
              <select class="edit_country"
              id="address_country_{{ address.id }}"
              name="address[country]"
              data-default="{{ form.country }}"
              >
              {{ all_country_option_tags }}
            </select>
          </td>
        </tr>
        <tr id="address_province_container_{{ address.id }}" style="display:none;">
          <td>
            <label data-item="accent-text" for="address_province_{{ address.id }}">
              {{ 'customer.addresses.province' | t }}
            </label>
          </td>
          <td>
            <select
            class="address_form edit_state"
            id="address_province_{{ address.id }}"
            name="address[province]"
            data-default="{{ form.province }}"
            >
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label data-item="accent-text" for="address_zip_{{ address.id }}">
            {{ 'customer.addresses.zip' | t }}
          </label>
        </td>
        <td>
          <input
          class="address_form"
          type="text"
          id="address_zip_{{ address.id }}"
          name="address[zip]"
          value="{{ form.zip }}"
          size="40"
          />
        </td>
      </tr>
      <tr>
        <td>
          <label data-item="accent-text" for="address_phone_{{ address.id }}">
            {{ 'customer.addresses.phone' | t }}
          </label>
        </td>
        <td>
          <input
          class="address_form"
          type="text"
          id="address_phone_{{ address.id }}"
          name="address[phone]"
          value="{{ form.phone }}"
          size="40"
          />
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="address--checkbox-container address_checkbox_contain" data-item="paragraph">
          {{ form.set_as_default_checkbox }} {{ 'customer.addresses.set_default' | t }}
        </td>
      </tr>
    </table>
    
    <div class="address--button-container">
      <div data-item='button'>
        <button class="add_address" type="submit" value="{{ 'customer.addresses.update' | t }}">
          {{ 'customer.addresses.update' | t }}
        </button>
      </div>
      <span data-item="block-link">
        <a class="cancel_address"
        href="#"
        onclick="Shopify.CustomerAddress.toggleForm({{ form.id }}); return false;"
        >
        {{ 'customer.addresses.cancel' | t }}
      </a>
    </span>
  </div>
  {% endform %}
</div>
{% endfor %}
</div>




<div data-item="block-link" class="mmm_add">
  <a
  class="add-new-address"
  href="#"
  onclick="Shopify.CustomerAddress.toggleNewForm(); return false;"
  >
  {{ 'customer.addresses.add_new' | t }}
</a>
</div>
<div class="edit_address" id="add_address" style="display:none;">
  <h2 class="add_new_address">add new address</h2>
  {% form 'customer_address', customer.new_address %}
  
  {{ form.errors | default_errors }}
  
  <table class="address--customer-table address_customer_table">
    <tr class="inputfield_block">
      <!-- <td>
        <label data-item="accent-text" for="address_country_new">
          {{ 'customer.addresses.country' | t }}
        </label>
      </td> -->
      <td  class="inputField address_input">
        <select
        id="address_country_new"
        name="address[country]"
        data-default="{{ form.country }}">
        {{ country_option_tags }}
      </select>
    </td>
  </tr>
  <tr class="first_last_input">
    <!-- <td>
      <label data-item="accent-text" for="address_first_name_new">
        {{ 'customer.addresses.first_name' | t }}
      </label>
    </td> -->
    <td class="inputField input_field_space">
      <input
      class="address_form"
      type="text"
      id="address_first_name_new"
      name="address[first_name]"
      value="{{ form.first_name }}"
      size="40"
      placeholder=" " />
      <span>{{ 'customer.addresses.first_name' | t }}</span>
    </td>
    <td class="inputField">
      <input
      class="address_form"
      type="text"
      id="address_last_name_new"
      name="address[last_name]"
      value="{{ form.last_name }}"
      size="40"
      placeholder=" " />
      <span>{{ 'customer.addresses.last_name' | t }}</span>
    </td>
  </tr>
  <!-- <tr>
    <td>
      <label data-item="accent-text" for="address_last_name_new">
        {{ 'customer.addresses.last_name' | t }}
      </label>
    </td>
    
  </tr> -->
  <!-- <tr>
    <td>
      <label data-item="accent-text" for="address_company_new">
        {{ 'customer.addresses.company' | t }}
      </label>
    </td>
    <td>
      <input
      class="address_form"
      type="text"
      for="address_company_new"
      name="address[company]"
      value="{{ form.company }}"
      size="40"
      />
    </td>
  </tr> -->
  <tr class="inputfield_block">
    <!-- <td>
      <label data-item="accent-text" for="address_address1_new">
        {{ 'customer.addresses.address1' | t }}
      </label>
    </td> -->
    <td class="inputField address_input">
      <input
      class="address_form"
      type="text"
      id="address_address1_new"
      name="address[address1]"
      value="{{ form.address1 }}"
      size="40"
      placeholder=" " />
      <span>{{ 'customer.addresses.address1' | t }}</span>
    </td>
  </tr>
  <tr class="inputfield_block">
    <!-- <td>
      <label data-item="accent-text" for="address_address2_new">
        {{ 'customer.addresses.address2' | t }}
      </label>
    </td> -->
    <td class="inputField address_input">
      <input
      class="address_form"
      type="text"
      id="address_address2_new"
      name="address[address2]"
      value="{{ form.address2 }}"
      size="40"
      placeholder=" " />
      <span>{{ 'customer.addresses.address2' | t }}</span>
    </td>
  </tr>
  <tr class="input_cap">
    <!-- <td>
      <label data-item="accent-text" for="address_city_new">
        {{ 'customer.addresses.city' | t }}
      </label>
    </td> -->
    <td class="inputField input_city">
      <input
      class="address_form"
      type="text"
      id="address_city_new"
      name="address[city]"
      value="{{ form.city }}"
      size="40"
      placeholder=" " />
      <span>{{ 'customer.addresses.city' | t }}</span>
    </td>
    <td class="inputField input_state" id="address_province_container_new" style="display:none;">
      <select
      class="address_form"
      id="address_province_new"
      name="address[province]"
      data-default="{{ form.province }}"
      >
    </select>
    <!-- <span>{{ 'customer.addresses.city' | t }}</span> -->
  </td>
  <td class="inputField input_zip">
    <input
    class="address_form"
    type="text"
    id="address_zip_new"
    name="address[zip]"
    value="{{ form.zip }}"
    size="40"
    placeholder=" "/>
    <span>{{ 'customer.addresses.zip' | t }}</span>
  </td>
</tr>
<!-- <tr id="address_province_container_new" style="display:none;">
  <td>
    <label data-item="accent-text" for="address_province_new">
      {{ 'customer.addresses.province' | t }}
    </label>
  </td>
  
</tr> -->
<!-- <tr>
  <td>
    <label data-item="accent-text" for="address_zip_new">
      {{ 'customer.addresses.zip' | t }}
    </label>
  </td>
  
</tr> -->
<tr class="inputfield_block">
  <!-- <td>
    <label data-item="accent-text" for="address_phone_new">
      {{ 'customer.addresses.phone' | t }}
    </label>
  </td> -->
  <td class="inputField address_input">
    <input
    class="address_form"
    type="text"
    id="address_phone_new"
    name="address[phone]"
    value="{{ form.phone }}"
    size="40"
    placeholder=" " />
    <span>{{ 'customer.addresses.phone' | t }}</span>
  </td>
</tr>
<tr>
  <td class="address--checkbox-container address_checkbox_container" data-item="paragraph">
    {{ form.set_as_default_checkbox }} {{ 'customer.addresses.set_default' | t }}
  </td>
</tr>
</table>

<div class="address--button-container">
  <div data-item='button'>
    <button class="add_address" type="submit" value="{{ 'customer.addresses.update' | t }}">
      {{ 'customer.addresses.update' | t }}
    </button>
  </div>
  <span data-item="block-link">
    <a class="cancel_address" href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">
      {{ 'customer.addresses.cancel' | t }}
    </a>
  </span>
</div>
{% endform %}
</div>

{% if paginate.pages > 1 %}
<div class="address--pagination">
  {% render 'pagination', paginate: paginate %}
</div>
{% endif %}
</div>
</div>

{% for line_item in customer.orders.line_items %}
<img src="{{ line_item | img_url: 'compact_cropped' }}" align="left" width="60" height="60" class="order-list__product-image"/>  {% endfor %}


<div id="Order" class="tabcontent personal_order_info">
  <div class="account--orders">
    <h4 class="order_heading" data-item="block-heading">{{ 'customer.account.orders' | t }}</h4>
    {% if customer.orders.size != 0 %}
    <table class="account--orders-table responsive">
      {% comment %} <thead data-item="accent-text">
        <tr>
          <th>{{ 'customer.account.order' | t }}</th>
          <th>{{ 'customer.account.date' | t }}</th>
          <th>{{ 'customer.account.payment_status' | t }}</th>
          <th>{{ 'customer.account.fulfillment_status' | t }}</th>
          <th>{{ 'customer.account.total' | t }}</th>
        </tr>
      </thead>{% endcomment %}
      <tbody data-item="paragraph">
        {% for order in customer.orders %}
        
        
        <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %} order_list_row">
          <td><a class="order_img" href="{{ order.customer_url }}"><img src="{{ order.line_items[0] | img_url: 'compact_cropped' }}"></a></td>
          <td class="order_status"><span>Order </span>{{ order.name | link_to: order.customer_url }}
            {%- comment -%}<br>{% if cart.item_count > 0 %}<span class="cart--external--icon" data-item-count="{{ cart.item_count }}"><span class="cart--external--total-items">{{ cart.item_count }}</span></span>Item in this Box{% endif%}{%- endcomment -%}
            {{ order.created_at | time_tag: format: 'date' }}</td>
          {%- comment -%}
          <td>
            <span class="note">{{ order.created_at | time_tag: format: 'date' }}</span>
            {%if customer.name %} Ship to - {{ customer.name }}{% endif %}
          </td>
          {%- endcomment -%}
          <td class="payment_trans_status"><span>Payment Status</span><span class="payment_status status_{{ order.financial_status }}">
            {%- liquid
              assign trans_paid  = 'customer.order.paid' | t
              assign trans_pending = 'customer.order.pending' | t
              assign trans_authorized = 'customer.order.authorized' | t
              assign trans_abandoned = 'customer.order.abandoned' | t
              assign trans_refunded = 'customer.order.refunded' | t
              assign trans_voided = 'customer.order.voided' | t
              -%}
              {{ order.financial_status | replace: 'paid', trans_paid | replace: 'pending', trans_pending | replace: 'authorized', trans_authorized | replace: 'abandoned', trans_abandoned | replace: 'refunded', trans_refunded | replace: 'voided', trans_voided }}</span>
            </td>
            <td class="fulfill_trans_status"><span>Fulfillment Status</span><span class="fulfillment_status status_{{ order.fulfillment_status }}">
              {% assign trans_fulfilled = 'customer.order.fulfilled' | t %}
              {% assign trans_unfulfilled = 'customer.order.unfulfilled' | t %}
              {% assign trans_partial = 'customer.order.unfulfilled' | t %}
              {{ order.fulfillment_status | replace: 'unfulfilled', trans_unfulfilled | replace: 'fulfilled', trans_fulfilled | replace: 'partial', trans_partial }}</span>
            </td>
            <td class="order_total_am money">
              <span>Total Amount</span>
              <p>
                {{ order.total_price | money_without_currency }}</p>
              </td>
              {%- comment -%}
              <td class="money">
                <ul class="amo-btn">
                  <li><a href="{{ order.customer_url }}">View Details</a></li>
                  <li><a href="https://www.at-home.co.in/pages/track-my-order">Track Order</a></li>
                  <li><a href="#">Write a Review</a></li>
                </ul>
              </td>
              {%- endcomment -%}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
        {% else %}
        <p data-item="paragraph">{{ 'customer.account.no_orders' | t }}</p>
        {% endif %}
        
      </div>
      <div class="address__order_info">
        <h2 class="ac_order_heading">Account Details</h2>
        <div class="address__info">
          <h4 data-item="block-heading" class="prsnl_info prsnl_info_head"><span><svg xmlns="http://www.w3.org/2000/svg" width="15.253" height="15.228" viewBox="0 0 15.253 15.228">
            <path id="Shape_650" data-name="Shape 650" d="M228.061,319.026a6.436,6.436,0,0,0-12.833-.682c-.026.226-.025.455-.037.682H214a7.654,7.654,0,0,1,5.089-7.221,4.348,4.348,0,0,1-1.867-3.573,4.22,4.22,0,0,1,1.3-3.154,4.4,4.4,0,1,1,5.607,6.748l.166.066a7.572,7.572,0,0,1,4.636,4.956,6.684,6.684,0,0,1,.293,1.589,1.209,1.209,0,0,0,.026.142v.446Zm-6.432-14.039a3.212,3.212,0,1,0,3.214,3.222A3.224,3.224,0,0,0,221.629,304.987Z" transform="translate(-214 -303.799)"/>
          </svg></span>{{ customer.name }}</h4>
          <p class="address--email prsnl_info" data-item="paragraph"><span><svg xmlns="http://www.w3.org/2000/svg" width="17.927" height="13.44" viewBox="0 0 17.927 13.44">
            <path id="Shape_651_copy" data-name="Shape 651 copy" d="M231.934,383.521a1.633,1.633,0,0,1-.52.962,1.591,1.591,0,0,1-1.083.368h-11.1c-1.219,0-2.438,0-3.658,0a1.449,1.449,0,0,1-1.411-.85,1.671,1.671,0,0,1-.153-.69q-.014-5.177,0-10.354a1.5,1.5,0,0,1,1.586-1.541h12.951c.6,0,1.19.01,1.785,0a1.51,1.51,0,0,1,1.579,1.268.344.344,0,0,0,.023.064Zm-16.588-11.342c.053.056.068.074.085.089q3.484,3.177,6.97,6.352a.763.763,0,0,0,1.164-.022l6.88-6.269a1.356,1.356,0,0,1,.14-.1l-.031-.051Zm9.345,6.41c-.235.212-.428.388-.624.563a1.672,1.672,0,0,1-.889.452,1.559,1.559,0,0,1-1.306-.454l-.621-.561-5.911,5.445.029.05h15.2l.027-.052Zm-9.886-5.88c-.083.279-.071,10.645,0,10.8l5.888-5.427Zm10.441,5.374,5.9,5.436c.077-.252.062-10.622-.02-10.8Z" transform="translate(-214.006 -371.411)"/>
          </svg>
        </span>{{ customer.email }}</p>
        <div class="address--view" data-item="paragraph">
          
          {% if customer.default_address != nil %}
          <p class="prsnl_info"><span><svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve">
            <g>
              <path fill="none" stroke="#000000" stroke-width="0.6" stroke-miterlimit="10" d="M15.7,4.9c-0.9-2.4-2.7-3.8-5.3-4.2
              c-0.1,0-0.3,0-0.4-0.1c-0.1,0-0.1,0-0.2,0c-0.2,0-0.3,0-0.4,0c-0.1,0-0.2,0-0.3,0c-0.1,0-0.3,0-0.4,0.1C7.3,0.9,6.1,1.4,5.1,2.3
              C4.2,3.1,3.6,4.1,3.2,5.2C2.9,6.1,2.8,7.1,3,8.1c0.2,1.1,0.7,2.2,1.3,3.1c1.5,2.2,2.9,4.4,4.4,6.6c0.1,0.1,0.1,0.2,0.2,0.3
              c0.3,0.3,0.7,0.4,1,0.2c0.2-0.1,0.3-0.3,0.4-0.4c1.5-2.2,2.9-4.4,4.4-6.6c0.4-0.7,0.8-1.4,1-2.1C16.2,7.7,16.2,6.3,15.7,4.9z"/>
              <path fill="none" stroke="#000000" stroke-width="0.6" stroke-miterlimit="10" d="M9.5,3.7C7.6,3.7,6,5.3,6,7.2
              c0,1.9,1.6,3.5,3.5,3.5c1.9,0,3.5-1.6,3.5-3.5C13,5.3,11.4,3.7,9.5,3.7z"/>
            </g>
          </svg></span>{{ customer.default_address.address1 }}
          
          {% if customer.default_address.address2 != "" %}
          {{ customer.default_address.address2 }}
          {% endif %}
          
          {{ customer.default_address.city }},
          {% if address.province_code %}
          {{ customer.default_address.province_code }},
          {% endif %}
          {{ customer.default_address.country }}
          {{ customer.default_address.zip }}</p>
          <!-- <p class="prsnl_info"><span><svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve">
            <path d="M13.9,18.4c-0.2,0-0.5-0.1-0.7-0.1c-1-0.2-1.9-0.5-2.8-1c-1.4-0.7-2.8-1.6-4-2.6C4,12.5,2.1,10,1,7C0.8,6.2,0.6,5.4,0.6,4.6
            c0-0.8,0.3-1.5,0.8-2c0.5-0.5,1-1,1.5-1.5c0.8-0.7,1.7-0.7,2.5,0c0.8,0.8,1.6,1.6,2.4,2.4c0.6,0.7,0.6,1.6,0,2.3
            C7.4,6.3,7,6.8,6.5,7.2c-0.1,0.1-0.1,0.2,0,0.3c0.5,1,1.1,1.8,1.8,2.6c0.7,0.8,1.5,1.5,2.4,2.1c0.2,0.2,0.5,0.3,0.7,0.4
            c0.1,0.1,0.2,0,0.2,0c0.4-0.4,0.8-0.8,1.2-1.2c0.3-0.3,0.6-0.5,1.1-0.6c0.6-0.1,1.1,0.1,1.5,0.5c0.8,0.7,1.5,1.5,2.3,2.2
            c0.8,0.8,0.9,1.7,0.1,2.6c-0.5,0.6-1.1,1.1-1.7,1.7c-0.4,0.4-0.9,0.6-1.5,0.6c0,0-0.1,0-0.1,0C14.4,18.4,14.1,18.4,13.9,18.4z
            M1.5,4.7c0,0.8,0.2,1.6,0.5,2.4c0.8,2.1,2.1,3.9,3.6,5.6c1.5,1.6,3.2,2.9,5.2,3.8c1,0.5,2,0.9,3.1,1c0.7,0.1,1.3,0,1.8-0.5
            c0.5-0.5,1-1,1.5-1.5c0.4-0.4,0.4-0.9,0-1.3c-0.8-0.8-1.6-1.6-2.3-2.3c-0.3-0.3-0.7-0.3-1.1,0c-0.1,0.1-0.2,0.1-0.2,0.2
            c-0.4,0.4-0.9,0.9-1.3,1.3c-0.3,0.3-0.6,0.3-0.9,0.1c-0.3-0.1-0.5-0.3-0.7-0.4c-1.1-0.7-2.1-1.6-3-2.5C6.7,9.7,6.1,8.8,5.6,7.8
            C5.4,7.3,5.4,7,5.8,6.6c0.4-0.4,0.9-0.9,1.3-1.3c0.4-0.4,0.4-0.8,0-1.2C6.6,3.5,6,3,5.4,2.4C5.2,2.2,5,1.9,4.7,1.7
            C4.4,1.4,4,1.4,3.6,1.7C3.6,1.8,3.5,1.8,3.4,1.9C3,2.3,2.6,2.7,2.2,3.1C1.7,3.6,1.5,4.1,1.5,4.7z"/>
          </svg>
        </span>{{ customer.default_address.phone }}</p> -->
        {% endif %}
        
        {% comment%} <div data-item="block-link">
          <a id="view_address" href="{{ routes.account_addresses_url }}">
            {{ 'customer.account.view_addresses' | t }}
          </a>
        </div>{% endcomment %}
        
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
{% comment %} <div data-item="block-link">{{ 'customer.account.logout' | t | customer_logout_link }}</div>{%endcomment%}

{% if paginate.pages > 1 %}
<div class="account--pagination">
  {% render 'pagination', paginate: paginate %}
</div>
{% endif %}
</div>
<script type="text/javascript" charset="utf-8">
  // initialize observers on address selectors
  function onAddressLoad() {
    new Shopify.CountryProvinceSelector(
    'address_country_new', 'address_province_new',
    { hideElement: 'address_province_container_new' }
    );
    
    {% for address in customer.addresses %}
    new Shopify.CountryProvinceSelector(
    'address_country_{{ address.id }}', 'address_province_{{ address.id }}',
    { hideElement: 'address_province_container_{{ address.id }}' }
    );
    {% endfor %}
  }
</script>
<script
src="{{ 'addresses.min.js' | asset_url }}"
defer="defer"
onload="onAddressLoad()"
></script>
<script>
  /*tabbing javascript*/
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  document.getElementById("defaultOpen").click();
</script>
{% endpaginate %}
<script>
  $(document).ready(function(){
    $('.order_tab').click(function(){
      $('.address--info').hide();
    });
    $('.manage_address').click(function(){
      $('.address--info').show();
    });
    });
  </script>
  
  <!-- <script>
    /*tabbing javascript*/
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
  </script> -->
  