{%- liquid
  assign bg_color = section.settings.background-color
  assign container_width = section.settings.container-width
  assign light_text = section.settings.light-text
  assign spacing_above = section.settings.spacing-above
  assign spacing_below = section.settings.spacing-below

  capture app_blocks
    for block in section.blocks
      render block
    endfor
  endcapture
-%}

<div class="apps--root {{section.settings.classname}}" data-section-id="{{ section.id }}" data-background-color="{{ bg_color }}" data-container-width="{{ container_width }}" data-light-text="{{ light_text }}" data-spacing-above="{{ spacing_above }}" data-spacing-below="{{ spacing_below }}">
  <div class="apps--wrapper">
    {{ app_blocks }}

    <div class="review-btn">
      <a href="{{section.settings.url}}" style="padding-top:0px !important;">
        {{section.settings.btn_text}}
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "App wrapper",
    "settings": [
      {
        "id": "background-color",
        "label": "Background color",
        "type": "select",
        "options": [
          {
            "label": "None",
            "value": "none"
          }, {
            "label": "Light",
            "value": "light"
          }, {
            "label": "Dark",
            "value": "dark"
          }, {
            "label": "Accent",
            "value": "accent"
          }
        ],
        "default": "none"
      },
      {
        "id": "classname",
        "label": "Class Name",
        "type": "text",
        "default": "featured-collection"
      },
      {
        "id": "light-text",
        "label": "Use light text color",
        "type": "checkbox",
        "default": false
      },
      {
        "id": "container-width",
        "label": "Width of container",
        "type": "range",
        "min": 1,
        "max": 6,
        "step": 1,
        "default": 4
      }, {
        "id": "spacing-above",
        "label": "Spacing above",
        "type": "checkbox",
        "default": true
      }, {
        "id": "spacing-below",
        "label": "Spacing below",
        "type": "checkbox",
        "default": true
      }, {
        "id": "url",
        "label": "Btn Url",
        "type": "text"
      }, {
        "id": "btn_text",
        "label": "Btn Name",
        "type": "text",
        "default": "View More"
      }
    ],
    "blocks": [
      {
        "type": "@app"
      }
    ],
    "presets": [
      {
        "name": "App wrapper"
      }
    ]
  }
{% endschema %}