{{ section.settings.combo_collection }}
<section class="featured-collection">
    {% if section.settings.heading != blank or section.settings.subheading != blank %}
      <span class="d_flex heading_div slider_head">
        {%- if section.settings.heading != blank -%}
          <h2 class="featured-collections--heading heading_text" data-item="section-heading">
            {{ section.settings.heading }}
          </h2>
        {%- endif -%}
        {%- if section.settings.subheading != blank -%}
          <p class="subheading_text">{{section.settings.subheading }}
          </p>
        {%- endif -%}
      </span>
    {% endif %}
    <div class="combos_seclect_btn">
        <div class="comman_maincontainer_spacing  best_combo_slider" id="single_combo_slider">
            {%- assign collection = collections[blocks.settings.collection_one] -%}
            {% for product in collection.products limit: 6 %}
                <a href="{{ product.url | within: collection }}" class="new_product_grid_body new_card_body d_flex  " id="new_combo_slider">
                    {%- if  product.first_available_variant.compare_at_price >  product.first_available_variant.price -%}
                      <span class="off_price">{{  product.first_available_variant.compare_at_price | minus:  product.first_available_variant.price | times: 100 | divided_by:  product.first_available_variant.compare_at_price }}%<span class="combo_off">OFF</span>
                      </span>
                    {%- endif -%}
                    {% if product.featured_image != blank %}
                      <div class="new_product_grid_image">
                        <img src="{{product.featured_image | img_url :'master' }}" alt="">
                      </div>
                    {% endif %}
                    <img class="wishlist" src="https://cdn.shopify.com/s/files/1/0248/7766/2271/files/Wishlist.png?v=1657882643">
                    <span class="new_product_grid_info card_body_info">
                      <p class="card_body_title new_prodcut_grid_title d_flex" id="new_combo_title">
                        <span>
                          {{ product.title | escape | truncate: 50, '...' }}
                        </span>
                      </p>
                      <!-- <p class="combo_box_sub_para">A classic sturdy bed thyat comes with re-enforced metal,that adds studiness to style</p> -->
                      <span class="d_flex card_body_price_container combo_box_price">
                        <b class="card_body_price_text new_prodcut_grid_price d_flex">
                          {%- if  product.first_available_variant.compare_at_price >  product.first_available_variant.price -%}
                            <span class="stirke_price">{{  product.first_available_variant.compare_at_price | money }}
                            </span>
                            <span class="bold_price combo_price">{{  product.first_available_variant.price | money }}
                            </span>
                          {%- else -%}
                            <span class="bold_price combo_price">{{  product.first_available_variant.price | money }}
                            </span>
                          {%- endif -%}
                        </b>
                        <span class="card_body_btn combo_btn">Shop Now</span>
                      </span>
            
                    </span>
                  </a>
                {% else %}
                  {% for i in (1..6) %}
                    <a href="#" class="featured-collection-item">
                      {% capture current %}
                        {% cycle 1, 2, 3, 4, 5, 6 %}
                      {% endcapture %}
                      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
            
                      <p>{{ 'homepage.onboarding.product_title' | t }}
                      </p>
                      <p>{{ 1999 | money }}
                      </p>
                    </a>
                  {% endfor %}
                {% endfor %}
              </div>
    </div>

{% schema %}
  {
    "name": "combo_collection",
    "settings": [
      {
        "type": "header",
        "content": "Content"
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Collection list"
      }, {
        "type": "text",
        "id": "subheading",
        "label": "Sub Heading",
        "default": "duis accumsan eil gravida, vulputate est et, hendreit felis"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "text",
            "id": "btn-texts",
            "label": "Button text Third",
            "default": "button"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "combo_collection",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection"
          }, {
            "type": "collection"
          }, {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}