{%- liquid
  comment
  Translations
  endcomment
  assign search_t = 'general.search.search' | t
  assign cart_title_t = 'cart.title' | t
  
  comment
  Variables
  endcomment
  
  assign menu = section.settings.menu
  assign logo = section.settings.logo
  assign logo_height = section.settings.logo-height-range
  assign popup_enabled = settings.popup--enabled
  assign show_search = settings.search--show-in-header
  assign cart_type = settings.cart--type
  -%}
  
  <header-root
  class="header--root"
  data-section-id="{{ section.id }}"
  data-section-type="header"
  {% if logo and logo_height >= 45 %}
  data-header-logo-type="inline"
  {% elsif logo %}
  data-header-logo-type="overflowing"
  {% endif %}
  >
  <noscript>
    <div class="header--container custom-header">
      <div class="header--left-side">
        {% if request.page_type == 'index' %}
        <h1 class="header--logo">
          {%
            render 'logo',
            logo: logo,
            height_range: logo_height
            %}
          </h1>
          {% else %}
          <div class="header--logo">
            {%
              render 'logo',
              logo: logo,
              height_range: logo_height
              %}
            </div>
            {% endif %}
            
            {%
              render 'x-menu',
              overlap_parent: 1,
              off_canvas: 'right-sidebar',
              handle: menu,
              noscript: true
              %}
            </div>
            <div class="header--middle-side 2" style="display:inline-block">
              <div class="header--search-middle">
                <form class="search" action="/search">
                  <input type="text" placeholder="What are you looking for" name="q" value="{{ search.terms | escape }}"  />
                  <input type="submit" value="Search" />
                </form>
              </div>
            </div>
            
          </div>
        </noscript>
        
        <div class="header--y-menu-for-off-canvas" style="display:none;">
          {% render 'y-menu', handle: menu %}
        </div>
        
        <div class="header--container d_flex">
          <div class="header--left-side">
            {% if request.page_type == 'index' %}
            <h1 class="header--logo">
              {%
                render 'logo',
                logo: logo,
                height_range: logo_height
                %}
              </h1>
              {% else %}
              <div class="header--logo">
                {%
                  render 'logo',
                  logo: logo,
                  height_range: logo_height
                  %}
                </div>
                {% endif %}
                
              </div>
              <div class="header--middle-side 1" style="display:inline-block">
                <div class="header--search-middle">
                  <div class="search--bar">
                    <form class="search test" action="/search">
                      <input type="text" placeholder="What are you looking for" name="q" value="{{ search.terms | escape }}"  />
                      <input type="submit" value="search" />
                    </form>
                  </div>
                </div>
                
              </div>
              <div class="header--right-side" data-item="nav-text">
                <!-- <div class="out-site-cont">
                  {%
                    render 'x-menu',
                    overlap_parent: 1,
                    off_canvas: 'right-sidebar',
                    handle: menu
                    %}
                  </div> -->
               
              <a
              class="header--cart-count"
              data-item="nav-text"
              {% if cart_type == 'drawer' %}
              data-off-canvas--open="right-sidebar"
              data-off-canvas--view="cart"
              aria-haspopup="menu"
              href="#"
              {% else %}
              href="{{ routes.cart_url }}"
              {% endif %}
              >
              <span class="cart--external--total-items">
                {{ cart.item_count }}
              </span>
            </a>
            
            <div
            tabindex="0"
            data-off-canvas--open="left-sidebar"
            aria-haspopup="menu"
            >
            {% render 'icons', icon: 'menu' %}
          </div>
        </div>
        <div class="out-site-cont">
          {%
            render 'x-menu',
            overlap_parent: 1,
            off_canvas: 'right-sidebar',
            handle: menu
            %}
          </div>
        </div>
        
      </header-root>
      <div class="offersMessage">
        <h3>Get upto 6 month no cost EMI with exclusive credit card offers.<a href="#">T&C apply</a></h3>
      </div>
      {% render 'mobile-menu-icon'%}
      <style>
        .mega_menu_custom .mega-menu {
          width: 50%;
          float: left;
        }</style>
        <script type="module">
          import "{{ 'header.js' | asset_url }}";
        </script>
        
        {% schema %}
        {
          "name": "Header",
          "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image"
          },
          {
            "label": "Custom logo height",
            "id": "logo-height-range",
            "type": "range",
            "min": 15,
            "max": 100,
            "step": 5,
            "unit": "px",
            "default": 35,
            "info": "This is referring to the natural height and should be half the height of the image you uploaded to ensure it stays sharp on retina screens."
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "default": "main-menu"
          },
          {
            "type": "image_picker",
            "id": "menu1_image",
            "label": "Mega Menu1 image"
          }
          ]
        }
        {% endschema %}